<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/template :: head">    
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
        <header th:replace="layout/template :: header"></header>
       <img src="../static/imagers/Tulips.jpg" alt=""/>
        <div class="container">
             <center><h3>A Deus toda honra e toda a gloria!!!</h3>
           <h4> <a href=/agendas_User>Agenda</a></h4>      
            <h4><a href="/listacantina">Cantina</a></h4>
            <h4> <a href="/pdf">Membros</a></h4> 
             <h4> <a href="/novo_Patrimonio">Patrimônio</a></h4> 

             </br>
            </br>
             </br>
            </br>
            <h5>Baixe o aplicativo da Sibre
                 e instale no seu Celular</h5>
              <h5> <a href= "https://appsgeyser.com/social_widget/social_widget.php?width=295&height=150&apkName=SIBRE_11850117&simpleVersion=no"
                 width="320" height="180" vspace="0" hspace="0" frameborder="no" scrolling="no" seamless="" allowtransparency="true">Apk</a></h5>
            </center>
        </div> 
       
    </body>
   
    <footer th:replace="layout/template :: footer"></footer>
</html>


