<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/template :: head">
<title>TODO supply a title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<header th:replace="layout/template :: header"></header>
	<center>
		<h5>
			<a th:href="@{/familia}">Familia</a>
		</h5>
		<form action="#" th:action="@{/listarfamilia}" method="get">

			<div class="input-group mb-3 input-group mb-3 col-md-5 ml-5 mt-5">

				<div class="input-group-append">
					<button class="btn btn-primary btn-sm" type="submit">
						<span class="fa fa-search"></span> Pesquisar
					</button>
				</div>
				<input name="nome" id="nome" type="text" class="form-control"
					placeholder="Informe o nome" aria-label="Informe o nome"
					th:value="${nome}" aria-describedby="basic-addon2">

				<div class="input-group-append ml-2">
					<a class="btn btn-secondary btn-sm" href="/listarfamilia"
						role="button"> <span class="fa fa-search"></span> Limpar
					</a>
				</div>
			</div>
		</form>
	</center>
	<div class="container mt-4">
		<table class="table" width="800px">

			<thead>
				<tr>
					<!--
                    <th>ID</th>
                    -->				
					<th>CONJUGE</th>
					<th>TELEFONE</th>
					<th>EMAIL</th>
					<th> FILHOS</th>				
					<th>STATUS</th>
					<th>BATIZADO(A)</th>					
					<th>FILHO NOME - NASCMTO - TELEFONE - EMAIL - BATIZADO?</th>	
				
				</tr>
			</thead>
			<tbody>
				<tr th:each="f : ${familia}">
					<td th:text="${f.familia.nomeDoConjuge}"></td>
					<td th:text="${f.familia.telefone}"></td>
					<td th:text="${f.familia.email}"></td>
					<td th:text="${f.familia.quantidadeFilhos}"></td>
					<td th:text="${f.familia.status}"></td>
					<td th:text="${f.familia.seBatizado}"></td>				
					<td>
					 <table>
                <tbody>
                    <tr th:each="filho : ${f.filhos}">
                        <td th:text="${filho.nome}"></td>
                       <td th:text="${filho.dataNascProl}"></td>
                        <td th:text="${filho.telefone}"></td>
                        <td th:text="${filho.email}"></td>
                        <td th:text="${filho.status}"></td>
                    </tr>
                </tbody>
            </table>
            
					</td>
					<!--  			
				<td><a th:href="@{/edite/}+${f.id}" class="btn btn-warning">Alterar</a>
				</td>
				<td><a th:href="@{/deletar/}+${f.id}" class="btn btn-danger">Apagar</a>
				</td>
				-->	
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>
